{% extends 'layout.html' %}

{% block content %}
<div class="card p-3 bg-body-secondary">
    <h4 class="card-title text-primary">Tasks</h5>

    <div class="card bg-warning my-2">
        <form method="post">
            <input type="text" name="task" class="form-control">
            <label for="task"><button type="submit" name="post-task" value="make" class="btn btn-outline-success mx-1 my-2">Submit</button></label>    
        </form>
    </div>

    {% for task in current_user.tasks %}
        <div class="card bg-warning my-2">
            <form method="post">
                <span><!-- MAKE THUMMB TAC --></span>
                <button type="submit" name="post-task" value="{{ task.id }}" class="btn btn-outline-danger mx-1 my-2">Complete Task</button>
                {{ task.task }}
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}