{% extends 'layout.html' %}

{% block content %}
<form method="POST">
    <div class="my-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control-md">
    </div>

    <div class="my-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control-md">
    </div>

    <button type="submit" class="btn btn-outline-primary">Log In</button>
    <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('auth.signup') }}">Need an Account?</a>
</form>
{% endblock %}